
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#cscore {
    padding-right: 15em;
}

#ctime {
    padding-right: 2em;
}

table {
    width: 36em;
    height: 36em;
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    width: 4em;
    height: 4em;
    text-align: center;
    border: 1px solid black;

}

.rBorder {
    border-right: 3px solid black;
}

.bBorder {
    border-bottom: 3px solid black;
}

.table2 {
    width: 36em;
    height: 4em;
    margin: 2em;
    border-collapse: collapse;
    border: 3px solid black;
}

.value {
    border: 3px solid black;
}