body {
    text-align: center;
    font-family: Helvetica;
}

#cScore {
    padding-right: 15em;
}

#cTime {
    padding-right: 2em;
}

#grid {
    width: 630px;
    height: 630px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

#row {
    width: 630px;
    height: 70px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gCell {
    width: 68px;
    height: 68px;
    border: 1px solid gray;

    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rCell {
    width: 62px;
    height: 62px;
    border: 2px solid black;
    margin: 2px;

    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cSelected {
    background-color:limegreen;
}

.gStyle {
    background-color: lightgray;
}

.hBorder {
    border-bottom: 1px solid black;
}

.vBorder {
    border-right: 1px solid black;
}